
     
      .app-container {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
      }


      .welcoming {
        text-align: center;
        color: rgb(90, 90, 90)
      }
      .loading {
        height: 40px;
        margin: -15px;
      }